#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#main {
  text-align: center;
}

#goiburua {
  background-color: darkgray;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 150px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #010228aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #011e26aa);
}